<div class="education">
    <h3>Education</h3>
    <div class="about-card row">
        <div class="col-lg-3">
            <img src="img/Fr.png" alt="">
        </div>
        <div class="col-lg-9">
            <span class="company">Bachelor's in Computer Engineering</span>
            <br>
            <span class="position">Second Year</span>
            <br>
            <span class="about-company">Fr. Conceicao Rodrigues College of Engineering</span>
            <br>
            <span class="about-work">University of Mumbai</span>
        </div>
    </div>
</div>
<div class="work">
    <h3>Work</h3>
    <div class="row">
        <div class="col-sm-6">
            <div class="about-card row">
                <div class="col-lg-3">
                    <img src="img/GDSC.png" alt="GDSC logo">
                </div>
                <div class="col-lg-9">
                    <span class="company">Google Developer's Student Club</span>
                    <br>
                    <span class="position">Web Dev Associate</span>
                    <br>
                    <span class="about-company">Fr. Conceicao Rodrigues College of Engineering</span>
                    <br>
                    <span class="about-work">Organizing Technical Events for our college.</span>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="about-card row">
                <div class="col-lg-3">
                    <img src="img/alumni.webp" alt="">
                </div>
                <div class="col-lg-9">
                    <span class="company">Student Alumni Committee</span>
                    <br>
                    <span class="position">Jr Technical Head</span>
                    <br>
                    <span class="about-company">Fr. Conceicao Rodrigues College of Engineering</span>
                    <br>
                    <span class="about-work">Maintaining the Alumni Association Website & organising events for our alumni.</span>
                </div>
            </div>
        </div>
    </div>
</div>