<h2>About</h2>
<span class="about">
    I'm a <strong>19 year old</strong>, pursuing <strong> Bachelor's in Computer Engineering,</strong> currently in second year from <span> Fr. Conceicao Rodrigues College of Enginering</em> which is affiliated to <em>University of Mumbai</em>. I'm a member of <strong> Google Developer's Student Club (GDSC)</strong> of my college as <em> Web Dev Associate </em>. I'm the Jr Tech Head of <strong>Student Alumni Committee</strong> of our college.
    I know <strong>C, C++, Java</strong> Programming languages at a basic level and <strong> Python </strong> at an intermediate level. I've also learnt Web Development. I use <strong>Node.js, Express.js, EJS</strong> for backend.
</span>

