<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="icon" href="img/my-photo.png">

	<link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="css/style.css"> <!-- Resource style -->
	<script src="js/modernizr.js"></script> <!-- Modernizr -->
  	
	<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
	
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

	<title>Rahul Gandla</title>
</head>
<body>
	<nav id="cd-vertical-nav">
		<ul>
			<li>
				<a href="#section1" data-number="1">
					<span class="cd-dot"></span>
					<span class="cd-label">Welcome</span>
				</a>
			</li>
			<li>
				<a href="#section2" data-number="2">
					<span class="cd-dot"></span>
					<span class="cd-label">About Me</span>
				</a>
			</li>
			<li>
				<a href="#section3" data-number="3">
					<span class="cd-dot"></span>
					<span class="cd-label">Work and Education</span>
				</a>
			</li>
			<li>
				<a href="#section4" data-number="4">
					<span class="cd-dot"></span>
					<span class="cd-label">Projects</span>
				</a>
			</li>
			<li>
				<a href="#section5" data-number="5">
					<span class="cd-dot"></span>
					<span class="cd-label">Socials</span>
				</a>
			</li>
			<li>
				<a href="#section6" data-number="6">
					<span class="cd-dot"></span>
					<span class="cd-label">Contact</span>
				</a>
			</li>
		</ul>
	</nav>
	<a class="cd-nav-trigger cd-img-replace">Open navigation<span></span></a>

	<section id="section1" class="cd-section">
		<h1>Hey There! I'm Rahul Gandla</h1>
		<h2>Welcome to my Website.</h2>
		<a href="#section2" class="cd-scroll-down cd-img-replace">scroll down</a>
	</section><!-- cd-section -->

	<section id="section2" class="cd-section">
		<h2>About</h2>
		<p>&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto numquam, totam iusto officia earum perferendis, culpa ad atque eveniet praesentium nobis expedita similique beatae tenetur. Distinctio vel tenetur, id cum.&rdquo;</p>
	</section><!-- cd-section -->

	<section id="section3" class="cd-section">
		<div class="education">
			<h3>Education</h3>
			<div class="about-card row">
				<div class="col-lg-3">
					<img src="img/Fr.png" alt="">
				</div>
				<div class="col-lg-9">
					<span class="company">Bachelor's in Computer Engineering</span>
					<br>
					<span class="position">Second Year</span>
					<br>
					<span class="about-company">Fr. Conceicao Rodrigues College of Engineering</span>
					<br>
					<span class="about-work">University of Mumbai</span>
				</div>
			</div>
		</div>
		<div class="work">
			<h3>Work</h3>
			<div class="row">
				<div class="col-sm-6">
					<div class="about-card row">
						<div class="col-lg-3">
							<img src="img/GDSC.png" alt="GDSC logo">
						</div>
						<div class="col-lg-9">
							<span class="company">Google Developer's Student Club</span>
							<br>
							<span class="position">Web Dev Associate</span>
							<br>
							<span class="about-company">Fr. Conceicao Rodrigues College of Engineering</span>
							<br>
							<span class="about-work">Organizing Technical Events for our college.</span>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="about-card row">
						<div class="col-lg-3">
							<img src="img/alumni.webp" alt="">
						</div>
						<div class="col-lg-9">
							<span class="company">Student Alumni Committee</span>
							<br>
							<span class="position">Jr Technical Head</span>
							<br>
							<span class="about-company">Fr. Conceicao Rodrigues College of Engineering</span>
							<br>
							<span class="about-work">Maintaining the Alumni Association Website & organising events for our alumni.</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section><!-- cd-section -->

	<section id="section4" class="cd-section">
		<p>&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto numquam, totam iusto officia earum perferendis, culpa ad atque eveniet praesentium nobis expedita similique beatae tenetur. Distinctio vel tenetur, id cum.&rdquo;</p>
	</section><!-- cd-section -->

	<section id="section5" class="cd-section">
		<p>&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto numquam, totam iusto officia earum perferendis, culpa ad atque eveniet praesentium nobis expedita similique beatae tenetur. Distinctio vel tenetur, id cum.&rdquo;</p>
	</section><!-- cd-section -->

	<section id="section6" class="cd-section">
		<h2>Contact</h2>
		<form action="/" method="post">
			<div class="row">
				<div class="mb-1 col-sm-6">
					<label for="first-name" class="form-label">First Name</label>
					<input name="yourfname" type="text" id="first-name" required class="form-control">
				</div>
				<div class="mb-2 col-sm-6">
					<label for="last-name" class="form-label">Last Name</label>
					<input name="yourlname" type="text" id="last-name" required class="form-control">
				</div>
			</div>
			<div class="mb-3">
				<label for="email-address" class="form-label">Email address</label>
				<input name="youremail" type="email" class="form-control" required id="email-address" placeholder="name@example.com">
			</div>
			<div class="mb-3">
				<label for="message" class="form-label">Message</label>
				<textarea name="yourmessage" class="form-control" id="message" placeholder="Write your message here" rows="3"></textarea>
			</div>
			<input class="btn btn-secondary" value="Send" required type="submit">
		</form>
		
	</section><!-- cd-section -->
	
<script src="js/jquery-2.1.1.js"></script>
<script src="js/main.js"></script> <!-- Resource jQuery -->
</body>
</html>