// colors

$color-1: #0A2647; // dark purple
$color-2: #144272; // light purple
$color-3: #205295; // pink
$color-4: #2C74B3; // white
$color-5: #000; //black

// fonts 

$primary-font: 'Ubuntu', sans-serif;

